<span>{{ title }} app is running!</span>
<p>{{descripcion}}</p>
<button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos" >Ocultar</button>
<button (click)="ocultarVideojuegos(true)" *ngIf="mostrar_videojuegos==false" >Mostrar</button>

<!-- <videojuego *ngIf="mostrar_videojuegos"></videojuego> -->
<!-- <zapatillas></zapatillas>
<cursos></cursos> -->

<nav>
  <a routerLink="/zapatillas" [routerLinkActive]="['active']">Zapatillas</a>
  <a routerLink="/cursos" [routerLinkActive]="['active']">cursos</a>
  <a routerLink="/videojuego" [routerLinkActive]="['active']">videojuego</a>
  <a routerLink="/externo" [routerLinkActive]="['active']">externo</a>
  <a routerLink="/contacto" [routerLinkActive]="['active']"> Contacto</a>
</nav>
<router-outlet></router-outlet>